<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>

    <link rel="stylesheet" href="product_style.css">
</head>
<body>
    
    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">

            <!-- Added a class for product-image that includes a img tag referencing a source -->
            <div class="product-image">

                <!-- Created a v-bind directory to bind the attribuate to an expression.  The expression will call the data object for the value of the image.  -->
                <img v-bind:src="image">
            </div>

            <!-- Created a div that includes prodcut within  an h1 tag -->
            <div class="product-info">
                <h1>{{ product }}</h1>

                <!-- I want to display whether or not our product is "IN STOCK" OR "OUT OF STOCK".  To do this we have to render data from main using an if/else.  If you don't use the if/else, both elements below will show. The 'v-if' is going to check 'inStock' to see if it's true or false on main.js.  You can also check for quantity of an item as well as a boolean -->
                <p v-if="inStock">In Stock</p>
                <p v-else>Out of Stock</p>

                <!-- Inserted a v-for to gather all strings from details array -->
                <ul>
                    <li v-for="detail in details"> {{ detail }} </li>
                </ul>

                <!-- Inseerted a v-for to gather all strings from variants object -->
                <!-- Added a class 'color-box' so we can pull styles from CSS file.  Then we will v-bind to the colors in data object in main.js -->
                <div v-for="variant in variants" 
                :key="variant.variantId"
                class="color-box"
                :style="{ backgroundColor: variant.variantColor }"
                @mouseover="updateProduct(variant.variantImage)" >
                </div>

                <!-- Added Button so we can add to cart.  We will implement v-on:click so when we click on the button, it will increment the cart div by 1 -->
                <!-- Added a disabled feature which will disable the button when there are no items in stock. I also added a disabled button class so CSS can change the view of the button so it displays disabled. -->
                <button v-on:click="addToCart"
                :disabled="!inStock"
                :class="{ disabledButton: !inStock }"
                >Add to Cart</button>

                <!-- Create a new button and use v-on to trigger a method that decrements the value of cart. -->
                <button v-on:click="subToCart"
                :disabled="!inStock"
                :class="{ disabledButton: !inStock }"
                >Remove</button>

                <!-- Added cart div to display cart data -->
                <div class="cart">
                    <p>Cart({{cart}})</p>
                </div>

            </div>
            
        </div>
    </div>
        
    <!-- Add script that will install Vue onto HTML page -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>
</html>